@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: 'Work Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root{
    --primary-color: #2563eb;
    --text-gray: #424242;
    --text-light-gray: #727272;
    --bg-light: rgba(255, 144, 14, 0.1);
    --btn-primary-bg: #ff900e;
}
.display-flex{
    display: flex;
    padding: 0 10px;
}
.text-gray{
    color: var(--text-gray);
}  
.text-light-gray{
    color: var(--text-light-gray);
}
.bg-light{
    background-color: var(--bg-light);
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.nav-item{
   list-style: none;
   margin-left: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.btn-primary{
    background-color: var(--btn-primary-bg);
    padding: 20px 25px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 7px;
}


.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-image{
    width: 100%;
}






/* responsive design */
@media screen and (max-width: 576px) {
    .navbar,  .nav-links{
        flex-direction: column;
        text-align: center;
    }
    .banner-title{
        font-size: 2.5rem;
    }
}